#notifications {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding: 10px 0;
    display: none;
    z-index: 2;
    background-color: white;
    border-bottom: 1px solid #229cf0;
}
#editable-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 10px;
}